.main-wrap {
  margin-left: 50px;
  margin-top: 50px;
}
.home-main-title {
  width: 95%;
  padding-bottom: 5px;
  border-bottom: 1px solid #303133;
}
.btn-wrap {
  margin-top: 25px;
  margin-bottom: 20px;
}
.btn {
  color: rgb(132, 134, 141);
  border: 2px solid rgb(46, 47, 49);
  border-radius: 25px;
  font-size: 15px;
  padding: 7px 10px;
  margin-right: 5px;
  font-weight: 500;
  cursor: pointer;
}
.btn.active {
  background-color: #ffee35;
  color: black;
  border: 2px solid #ffee35;
}
.section-title {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 9px;
}
.home-list-wrap {
  position: relative;
}
.home-list-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  overflow: hidden;
}
.prev-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid #ffee35;
  border-right: 3px solid #ffee35;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  transform: rotate(-135deg);
  top: 47.5%;
  left: -15px;
  cursor: pointer;
}
.next-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 3px solid #ffee35;
  border-right: 3px solid #ffee35;
  border-left: none;
  border-bottom: none;
  display: inline-block;
  transform: rotate(45deg);
  top: 91px;
  right: 15px;
  cursor: pointer;
}

.ranking {
  position: absolute;
  top: -4px;
  left: -1px;
  font-size: 25px;
  font-weight: 700;
}
