* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: #fff;
}
button {
  background-color: transparent;
}
.contents {
  width: 100%;
  background: black;
  padding-left: 240px;
  padding-top: 65px;
}
